h2 {
  color: blue;

}

.page1 {
  color: red;
}

.page2 {
  color: green;
}

.editor {
  min-height: 300px;
  padding: 10px;
  border: solid 2px black;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.toolbar {
  border-bottom: 2px solid gray;
  padding: 10px
}

.toolbar > * {
  margin-right: 5px;
}
